# Server Port config. Default is 3000
PORT=3000

# Security Session Token Key configuration
JWT_SECRET=super-secret-unique-appraisal-key-13579

# In Production mode, Node serves client assets statically. In Dev, Vite handles mapping.
NODE_ENV=development
